@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Basic project style */
    color: #3a3a3a;
    font-family: "lato", sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-family: "oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1rem;

}

.highlight:hover {
    color: blue;
    cursor: pointer;
}
    
.active {
    border-bottom: 1px solid #3a3a3a;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* Main element using extra space to push down footer */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Our-Mission section */
#our-mission {
    width: 90%;
    margin: 20px auto;
}

#our-mission h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#activities-volunteer>div,
#activities-community>div,
#activities-culture>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#activities p {
    margin: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url(../images/our-mission-image.jpg) no-repeat top center/cover;
    height: 100vw;
    width: 100vw;
    margin: 30px;
    padding-right: 20px;
    /* Make the square radius into a circle */
    border-radius: 150px;
    max-width: 250px;
    max-height: 250px;
}

#activities-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* cpu section */
#cpu {
    height: 600px;
    width: 100%;
    background: url(../images/cpu.jpg) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* last rgba value set opacity for semi-transparen */
    background-color: rgba(210, 100, 100, .9);
    font-size: 90%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    border-radius: 20%;
}

#cover-text>h1,
#cover-text>h2 {
    color: white;
}

/* Gallery page */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: larger or landscape phones  (576px and up) */
@media screen and (min-max: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}
    

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header media query */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        text-decoration: underline;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        font-size: 0.7rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 1.9rem;
        line-height: 75px;
        margin: 0 0 5rem;
    }

    /* Main Content */
    #main {
        /* Push down to accomodate a larger header */
        margin-top: 79px;
    }

    /* cpu */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* cpu */
    #cpu {
        height: 850px;
    }

    /* Reason section */
    #activities-volunteer,
    #activities-community {
        display: flex;
        flex-direction: column;
        width: 100;
    }
    #activities-volunteer > div,
    #activities-community > div {
        width: 75%;
    }
    #activities-community {
        text-align: end;
        align-self: flex-end;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }
    
}

/* Meet up Times Section */
#times {
    background: url(../images/city.jpg) no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#times div {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* This will not wrap on screens of les than 400px wide.
    Each div sill expand to fill the available space on ots row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Create a grid of meet up divs over the background image */
    border: 2px solid white;
}

#times h3 {
    /* Override the settings coloue set in general style */
    color: #ffffff;
}

/* Media query: Large devices (laptop and desktops, 992px and up) */
@media screen and (min-max: 992px)  {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #photos {
        column-count: 4;
    }
       
}
    

    




/* Media query: desktops and larger (1200px and up) */
@media screen and (min-width: 1200px) {
    #activities {
        display: flex;
        flex-direction: row;
    }
    
    #activities > div {
        flex: 1;
    }
    #activities-image {
        order:0
    }

    #activities-community {
        order: 1;
    }

    #activities-community > div {
        align-self: flex-start;
    }

    #activities-voluteer > div {
        align-self: flex-end;
    }

    #circle-cover-bg {
        height: 200vw;
        width: 200vw;
        margin: 30px;
        padding-right: 20px;
        /* Make the square radius into a circle */
        border-radius: 150px;
        max-width: 400px;
        max-height: 400px;
    }
        
}